* {
  font-family: "SF Pro Display";
}

.navbar-light .navbar-toggler {
  border: none;
}

.intro {
  margin-top: 90px;
  margin-bottom: 20px;
}

.intro h1,
.title h1 {
  font-weight: 700;
}

.sub-intro {
  line-height: 40px;
  font-size: 20px;
  margin-bottom: 20px;
}

.btn {
  border-radius: 30px;
  padding: 13px;
  border: none;
  font-weight: bolder;
  font-size: 22px;
  margin: 5px 0;
}

.buttons {
  margin: 50px 0;
}

.btn-purple {
  background-color: #5C18D4;
  color: white;
}

.btn-black {
  background-color: #000000;
  color: white;
}

.submit-btn {
  border: none;
  color: white;
  padding: 10px;
  border-radius: 10px;
  margin: 10px 0;
  font-size
}

.btn-blue {
  background-color: #007bff;
}

.desc {
  font-size: 20px;
  line-height: 40px;
}

.bg-main {
  background-color: #D1BCE3;
}

.about-me {
  padding: 15px;
}

.title {
  margin: 30px 0;
}

.title h1,
.desc p {
  margin: 0px;
}

.desc {
  margin-bottom: 30px;
}

.watermelon-m {
  margin: 30px;
}

.project-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 30px;
  padding: 25px;
}

.project-card-title h1,
.project-card-link a {
  color: #50C787;
}

.project-card-title h1 {
  font-size: 30px;
  margin: 10px 0;
  font-weight: bold;
}

.project-card-desc p {
  line-height: 30px;
  margin: 10px 0;
}

.project-card-link {
  text-align: right;
  font-weight: bold;
  font-size: 20px;
}

.project-card-link a:hover {
  color: #007bff;
  text-decoration: none;
}


@media only screen and (max-width: 600px) {
  body {
    text-align: left;
  }

  .btn {
    width: 250px;
  }
}