.title h1 {
  font-weight: 700;
  font-size: 50px;
  margin: 30px 0;
}

.sub-title {
  font-size: 20px;
  line-height: 36px;
}

.introduction {
  text-align: center;
  margin: 50px 100px;
}

.buttons {
  text-align: center;
}

.main-btn {
  border: none;
  border-radius: 40px;
  padding: 20px;
  font-weight: bold;
  width: 200px;
  margin: 5px;
  color: #ffffff;
}

.btn-purple {
  background-color: #973999;
}

.btn-purple:hover {

  color: #009CDF;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn-black:hover {

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn-black {
  background-color: #000000;
}

.watermelon-head {
  margin: 60px;
}

.details {
  padding: 170px 140px;
}

.title {
  font-weight: bold;
  font-size: 40px;
}

.desc {
  font-size: 20px;
  line-height: 36px;
}

.bg-purple {
  background-color: #973999;
  color: #ffffff;
}

.project-card {
  border-radius: 20px;
  padding: 24px;
  width: 525px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.project-card-title,
.project-card-link {
  color: #009CDF;
}

.project-card-link a {
  text-decoration: none;
}

.project-card-link {
  text-align: right;
  margin: 10px 0;
}

.project-card-link a:hover {
  color: #5EBD3E;
  font-size: 20px;
}

.contact-me {
  margin: 60px 0;
}

@media only screen and (max-width: 600px) {
  .introduction {
    text-align: left;
    margin: 50px 24px;
  }

  .title h1 {
    font-size: 3rem;
  }


  .sub-title {
    padding: 0px;
  }

  .details {
    padding: 24px;
  }

  .watermelon-head {
    margin: 20px;
  }

  .project-card {
    margin: 20px 0;
    width: 100%;
  }
}